<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form #signupForm="ngForm" (submit)="onsigUp(signupForm)" *ngIf="!isloading">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="text"
        placeholder="E-Mail I'd"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
      />
      <mat-error *ngIf="email.invalid">Please enter user i'd details</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        name="password"
        placeholder="PassWord"
        #password="ngModel"
        ngModel
        required
      />
      <mat-error *ngIf="password.invalid"
        >Please Enter valid Password.
      </mat-error>
    </mat-form-field>
    <hr />
    <button mat-raised-button color="accent" type="submit" *ngIf="!isloading">
      Sign Up
    </button>
  </form>
</mat-card>

